<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="天眼搜索引擎 TY-Spider">
    <meta name="description" content="天眼搜索引擎，也叫TY-Spider，是一款轻量级的搜索引擎">
    <title>天眼</title>
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="app">
    <main class="main">
        <img id="bg" src="../static/images/bg1.jpg" alt="bg" >
        <div class="cover"></div>
        <div class="up">
            <div id="now_time" class="time">loading...</div>
            <div class="search">
                <img id="img_search" src="../static/images/search.png" alt="search" width="20px" height="20px">
                <div class="search-bar">
                    <input id="input-search" type="text" autocomplete="off">
                </div>
            </div>
            <div class="btn_search">
                <button id="ty-btn" class="btn"><span>天眼搜索</span></button>
            </div>
            <div class="sjyy">
                <div id="text">loading...</div>
            </div>
        </div>
        <div class="bottom">
            <span>© 2023 ASXE&nbsp;&nbsp;</span>
            <a href="https://github.com/asxez/TY-Spider">
                <img src="../static/images/github.png" alt="github" width="24px" height="24px">
            </a>
        </div>
    </main>
</div>
<script src="../static/js/main.js"></script>
</body>
</html>
