<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>加载中...</title>
    <link rel="icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/css/show.css">
</head>
<body>
<div class="app">
    <main class="main">
        <div class="container">
            <section class="all">
                <div class="header"></div>
                <div class="body">
                    <div id="left" class="left">
                        <!--                        <div class="content">-->
                        <!--                            <a target="_blank">-->
                        <!--                                <div class="href">-->
                        <!--                                    <div class="href-text"></div>-->
                        <!--                                </div>-->
                        <!--                                <div class="title">-->
                        <!--                                    <div class="title-text"></div>-->
                        <!--                                </div>-->
                        <!--                                <div class="keywords">-->
                        <!--                                    <div class="keywords-text"></div>-->
                        <!--                                </div>-->
                        <!--                            </a>-->
                        <!--                        </div>-->
                    </div>
                    <div class="right"></div>
                </div>
                <div id="footer" class="footer">
                    <!--                    <div class="text"></div>-->
                    <!--                    <div class="text"></div>-->
                    <!--                    <div class="text"></div>-->
                    <!--                    <div class="text"></div>-->
                </div>
            </section>
        </div>
    </main>
</div>
<script src="../static/js/show.js"></script>
</body>
</html>
